---
layout: default
title: Duke's Website
---
<div id="about">
  <p>Brazilian, 21 years old, Web Development, pseudo-Designer.<br />
     My current favorite language is <strong>Go</strong>, but I am working 3 years with Ruby and Ruby on Rails, my first jobs I worked with PHP. Do you can see about my expertise on <a href="http://github.com/dukex">my github</a>
  </p>
  <ul id="links">
    <li>
      <a href="http://github.com/dukex">
        &#62208;
        <span>Github</span>
      </a>
    </li>
    <li>
      <a href="http://www.linkedin.com/in/dukex">
        &#62232;
        <span>LinkedIn</span>
      </a>
    </li>
    <li>
      <a href="http://twitter.com/_dukex">
        &#62217;
        <span>Twitter</span>
      </a>
    </li>
    <li>
      <a href="https://soundcloud.com/dukex">
        &#62280;
        <span>Soundcloud</span>
      </a>
    </li>
    <li>
      <a href="http://www.flickr.com/photos/dukekhaos/">
        &#62211;
        <span>Flickr</span>
      </a>
    </li>
    <li>
      <a href="http://behance.net/dukex">
        &#62286;
         <span>Behance</span>
      </a>
    </li>
  </ul>
</div>
<ul id="index_projects">
  {% for post in site.posts %}
  <li>
    <a href="#{{post.slug}}">{{post.title}} </a>
  </li>
  {% endfor %}
</ul>


<ul id="projects">
  {% for post in site.posts %}
  <li>
    <h3 id="{{post.slug}}"><a href="#{{post.slug}}">{{post.title}}<a> <a class="external" href="http://{{post.link}}">({{post.link}})</a></h3>
    <div  class='description'>
      {{post.content}}
    </div>
  </li>
  {% endfor %}
</ul>
